div {
    font-family: Arial, sans-serif;
  }
  

  .container {
    max-width: 3840px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .applicantdetails-section {
    margin-bottom: 1rem;
  }
  
  .applicantdetails-section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 40px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-button {
    display: block;
    width: 20%;
    padding: 10px;
    margin-top: 100px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }

  .logout-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .logout-button:hover {
    background-color: #da2a0b;
  }
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }